/Auftrag.class
/Boerse.class
/Funk.class
/Knowledge.class
/Ladebucht.class
/Ladung.class
/LocalService.class
/MObject.class
/MObjectRepo.class
/Message.class
/Ort.class
/Position.class
/SchwarzesBrett.class
/Strasse.class
/Tanke.class
/TimeStamp.class
/Trucker.class
/Versteigerung.class
